/.bundle
/.DS_Store
/.vagrant
/coverage
/db/*.sqlite3
/log/*.log
/tmp
/public/dev
/public/development
/public/test
/db/structure.sql
/config/database.yml
app/.DS_Store
app/assets/.DS_Store
app/views/.DS_Store
public/.DS_Store
public/pre_launch/.DS_Store

