    <div class="row content">
      <div class="columns large-12 about-header">
        <h1 class="title-serif">About Us</h1>
        <p class="subtitle subtitle-big">We’re the décor and lifestyle resale marketplace you’ve been subconsciously seeking.</p>
      </div>
      <div class="columns large-6 about-col about-left">
        <p><span class="about-call-out">AT HUNTERS ALLEY</span> you’ll encounter a mix of high and low, almost new and lovingly used, vintage and antique. All of our sellers are décor-loving people just like you. </p>
        <p>To ensure a great shopping experience, we vet each and every submission. If an item is approved for the Hunters Alley marketplace, it will be listed for 21 days. Whether it’s a precious piece from the collection of a chic world traveler or a flea market acquisition from a bargainista design student, you’re sure to find something to love.</p>
      </div>
      <div class="columns large-6 about-col about-right">
        <p>Hunters Alley is your simple, trusted and safe home decorating solution—you can search, shop by category, shop by seller and explore “Hunts,” our editorial section. Since we have connections with the very best shipping logistics partners, the post-transaction experiences will be easy and hassle-free for sellers and buyers alike.</p>
        <p>Whether you use our iPhone or iPad apps, or browse the desktop site, the experience is straightforward. With our self-service option, you take your own pictures, write product descriptions and the Hunters Alley commission will be 25%. Or, you can utilize the Hunters Alley concierge offering, where we do everything from photograph your pieces to manage queries from buyers. Under the concierge offering, the Hunters Alley commission will be 50%. During our short beta period, sellers’ goods need to be in the state of California. However, buyers can be anywhere in the continental U.S. Have additional questions? Our <a href="#" class="about-underline-link">Customer Service</a> department can assist.</p>
        <p>Alison Pincus, co-founder of One Kings Lane and team are proud to launch Hunters Alley. Go ahead —share something old; find something new. Come connect with us at Hunters Alley.</p>
        <p><span class="about-call-out">#FROMTHEALLEY</span></p>
      </div>
    </div>

